Xft.autohint: 0 
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb


*.font:	Iosevka Term Nerd Font Complete Mono:pixelsize=18:antialias=true:autohint=true;
*.alpha: 0.85
